[Unit]
Description=lcd
After=network.target

[Service]
User=chip
Group=chip
StandardOutput=syslog
StandardError=syslog
Environment=NODE_ENV=production
WorkingDirectory=/home/chip/chip_lcd
ExecStart=/bin/bash -lc 'node lcd.js'
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=basic.target
